<?xml version="1.0" encoding="utf-8"?>
<!--
 * AndroidMenifesh.xml 全局配置文件
 *
 * @author Fred_W
 * @version v1.0.0
 *
 * @crdate 2017-12-31
 * @update 2018-1-17    注册 ActiveListActivity
 *
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fred_w.demo.codercommunity">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".app.base.CCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- arms配置 -->
        <meta-data
            android:name="com.fred_w.demo.codercommunity.app.GlobalConfiguration"
            android:value="ConfigModule" />

        <activity android:name=".mvp.ui.activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity android:name=".mvp.ui.activity.WebviewActivity"></activity> -->
        <activity android:name=".mvp.ui.activity.MainActivity" />
        <activity
            android:name=".mvp.ui.activity.WebviewActivity"
            android:label="@string/title_activity_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.ui.activity.MyInfoActivity"
            android:label="@string/title_activity_myinfo" />
        <activity android:name=".mvp.ui.activity.ActiveListActivity"
            android:label="@string/title_activity_activelist"></activity>
    </application>

</manifest>